html {
    background-color: #f9f7f3;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
    text-decoration: none;
    font-weight: inherit;
    font-style: inherit;
    font-size: inherit;
    width: 100%;
}


#doc {
    position: relative;
    color: rgb(47, 76, 84);
    line-height: 1.6;
    margin-top: 3rem;
    margin-bottom: 6rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    min-width: 420px;
    font-family: 'Lato', sans serif;
    text-rendering: optimizeLegibility;
}

body > * {
    margin-left: auto;
    margin-right: auto;
    width: 40rem;
}

header {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
    /* color: #333; */
    /* border-bottom: 1px solid #ccc; */
}

header a {
    color: #333;
}

a {
    color:  #07a;
    transition-duration: 0.1s;
}

a:hover {
    transition-duration: 0.1s;
    background: #f2f8fa;
}

header {
    /* display: flex; */
    /* justify-content: space-between; */
}

header #logo {
    width: auto;
}

header nav {
    display: flex;
    justify-content: space-between;
    width: auto;
}

header nav a {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Fira Sans', sans-serif;
    font-size: 0.8rem;
    font-weight: 600;
}

footer {
    border-top: solid 1px #ccc;
    padding: 1.8rem 0;
    margin-top: 3rem;
    color: #555;
    font-size: 0.8rem;
    display: flex;
}

footer .credits {
    text-align: right;
}

footer .social {
    display: flex;
    text-align: left;
}

footer .social a {
    padding-left: 1rem;
    color: #333;
    width: auto;
}

footer .social a:first-child {
    padding-left: 0;
}

h1 {
    font-size: 1rem;
}

h2, h3 {
    font-size: 0.8rem;
}

h1, h2, h3 {
    color: rgb(173, 102, 43);
    text-transform: uppercase;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
}

div.info {
    color: #555;
    font-size: 0.7rem;
    margin-bottom: 1rem;
}

code {
    background: #fbfbfb;
}

code.sourceCode {
    background: none;
}

pre {
    font-family: 'Fira Mono';
    background: #fbfbfb;
    border-top: 1px solid #ddd;
    padding: 0.5rem;
    overflow: auto;
    margin-bottom: 1.5rem;
    line-height: 1.2;
    font-size: 0.9rem;
}

p {
    margin-bottom: 1rem;
}

ul {
    list-style: none;
}
