html {
    font-size: 18px;
}
body {
    color: #333;
    line-height: 1.5;
    width: 100%;
    max-width: 1000px;
    min-width: 520px;
    margin: auto;
    position: relative;
    font-family: 'Fira Sans';
}

body > * {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}

header {
    margin-top: 1.5em;
    padding-bottom: 0.5em;
    font-size: 1.2em;
    color: #333;
    border-bottom: 2px solid #ccc;
}

header a {
    color: #333;
}

a {
    text-decoration: none;
}

header nav {
    position: absolute;
    top: 0;
    right: 2.5rem;
}

footer {
    border-top: solid 2px #ccc;
    padding: 20px 0;
    margin-top: 20px;
    color: #555;
    font-size: 0.8em;
}

footer .credits {
    text-align: right;
}

footer .social {
    text-align: left;
}

footer .social a {
    padding: 0 8px;
    color: #333;
}

footer .social a:first-child {
    padding: 0;
}

h1 {
    font-size: 1.4em;
    font-weight: 400;
    color: #111;
}

h2 {
    font-size: 1em;
    font-weight: 400;
    color: #222;
}

div.info {
    color: #555;
    font-size: 14px;
}

code {
    font-size: 15px;
}

div.sourceCode {
	background-color:#fafafa;
	border:1px solid #c8c8c8;
	padding-left: 10px;
	padding-right: 10px;
    overflow: auto;
}
